@model List<Gallery>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Galeri Bölümü</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Başlık</th>
                                <th>Ana Başlık</th>
                                <th>Video Url</th>
                                <th>Resim Url</th>
                                <th>İçerik Türü</th>
                                <th>Açıklama</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.HoverTitle</td>
                                    <td>@item.MainTitle</td>
                                    <td>@item.VideoUrl</td>
                                    <td>@item.imgUrl</td>
                                    <td>@item.MediaType</td>
                                    <td>@item.Description</td>

                                    <td><a href="/Gallery/DeleteGallery/@item.GalleryId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Gallery/UpdateGallery/@item.GalleryId" class="btn btn-outline-success">Güncelle</a></td>
                                </tr>

                            }

                        </tbody>
                    </table>
                    <br><br />
                    <a href="/Gallery/CreateGallery" class="btn btn-outline-primary">Yeni Fotoğraf Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>

