@model List<About>

    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(/pixel-master/img/bg-img/8.jpg);">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Hakkımızda</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Feature Area Start ##### -->
<section class="pixel-feature-area d-flex flex-wrap">
    <!-- Feature Thumbnail -->
    @foreach (var item in Model)
    {
        <div class="feature-thumbnail bg-img jarallax" style="background-image: url(@item.imgUrl1);"></div>

        <!-- Feature Content -->

        <div class="feature-content">
            <h1>@item.Title</h1>
            <p>@item.Description1</p>

        </div>
    }
</section>

    <!-- ##### Feature Area End ##### -->
<!-- ##### Feature Area Start ##### -->
<section class="pixel-feature-area d-flex flex-wrap">
    <!-- Feature Content -->
    @foreach (var item in Model)
    {
        <div class="feature-content">
            <h1>@item.Title</h1>
            <p>@item.Description2</p>
            

        </div>

        <!-- Feature Thumbnail -->
        <div class="feature-thumbnail bg-img jarallax" style="background-image: url(@item.imgUrl2);"></div>
    }
</section>
<!-- ##### Feature Area End ##### -->
